@import url('https://fonts.googleapis.com/css?family=Vesper+Libre');


* { font-family: 'Vesper Libre', sans-serif; }
.titleContainer { 
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
}
.titleContainer div { font-size:64px; }