/* 
  UMBC COLORS PER STYLEGUIDE:https://styleguide.umbc.edu/
  $umbc-gold: #ffcc00 !default;
  $umbc-red: #ff0000 !default;
  $white: #fff !default;
  $black: #000 !default;
  $umbc-brown: #b18906 !default; 
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Prosto+One');
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.flexCenter {
  display:center;align-items:center;justify-content:center;flex-direction:row;
}
/* body {
  margin: 0 auto;
  background: #eee;
  overflow: hidden;
  padding: 0;
} */

/* Hamburger Styling */
.hamburger {
  /* position: absolute; */
  width: 90px;
  height: 90px;
  top: 10px;
  right: 0px;
  z-index: 200;

  padding-left:20px;
  padding-top:12px;

}
.hamburger:hover {cursor:pointer;}
.hamburger div {
  position: relative;
  width: 90px;
  height: 8px; opacity:1;
  background-color: #ffcc00;
  margin-top: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  right:0;
  
}

#toggle { display: none; }
/* #toggle + #toggleTitle { display:block; } */

#toggle:checked + #toggleTitle { display:none; }

/* Hamburger Animation */
#toggle:checked + .hamburger .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle:checked + .hamburger .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle:checked + .hamburger .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle:checked + .hamburger + .nav {
  top: 0;
}

/* Menu Styling */
.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 61, 61, 0.65);
  top: -100%;
margin-left:50%;
  right: 0;
  bottom: 0;
  overflow:visible;



  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav .nav-wrapper {
  position: relative;
  /* overflow-y: auto; */
  height: 100%;
}


nav {
  font: 700 20px 'Roboto', sans-serif;
  /* height: 100vh; */
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width:100%;
  margin-top:50%;
  
margin-left:20%;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav a {
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
  color: #ffcc00;

  margin-left:50%;margin-right:50%;

  text-decoration: none;
  font-size: 6.3em;
  letter-spacing: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav a:hover {
  /* background-color: #fff; */
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav a:first-child {
  margin-top: 0;
}

/* Dropdown Animation */
#toggle:checked + .hamburger + .nav .nav-wrapper nav a {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  */

* { font-family: 'Roboto', Verdana, sans-serif; }
div#nonFooterContainer {
  position:absolute;
  /* z-index:-10; */
  display:flex;
  justify-content:center;
  flex-direction:row;

}
@media only screen and (max-width: 1274px) {
  #toggleTitle {
    display:none;
  }
}
@media only screen and (max-width: 600px) {
  #toggleTitle,.footerStuff {
    display:none;
  }
}
header.toggleMenuBar {
  
  letter-spacing: 3px;

  padding-left:12px;
  position:absolute;
  /* z-index:10; */
  padding-top:28px;
  /* background-color:#ffcc00;  */
  width:100%; text-align:center; font-weight:900; 
  /* text-shadow: -2px 0 white , 0 1px #ffcc00, 1px 0 #ffcc00, 0 -1px #ffcc00; */
  opacity:0.9;
}
nav.menuItems {
  background-color:#ffcc00; 
  text-align:center;
  color:#000000;

  display:flex;align-items:center;flex-direction:column;
}

div.container-fluid.nonFooter img {
  height:100%; width:100%; 
}
.footerStuff {
  padding-top:22px;  
  left: 0;
  bottom: 0;
  width:100%;
  background-color:#ffffff; 
}
div#footerImages img { margin:12px; }
div#footerLove, div#footerImages {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
}
div#footerLove { margin-top:22px;margin-bottom:12px; }


